<div class="home-page-container"
    fxLayout="column"
>

    <div class="promo-container"
        fxLayout.lt-md="column"
        fxLayoutGap="32px" 
        fxLayoutAlign="space-evenly"
    >
        <div fxFlex
        >
            <h1 class="promo-slogan">
                Explore the powers of psychically created entities.
            </h1>
        </div>

        <mat-divider fxShow="true" fxHide.gt-md ></mat-divider>
        <mat-divider fxShow="true" fxHide.lt-md [vertical]="true"></mat-divider>

        <div class="stand-definition"
        fxFlex="30%"
        fxLayout="column"
        fxLayoutAlign="center">
            <h2 class="mat-display-1">Learn more</h2>
            <mat-accordion > 
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                          What is a stand?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    A Stand (スタンド <i>Sutando</i>) is the physical manifestation of an invididual's life energy, named such because they typically appear beside their user.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                          Who can use a stand?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Stand capabilities can be developed naturally or acquired through the use of ancient arrows made from meteoric material. Using an arrow requires immense spiritual strength to awaken a stand successfully.
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Who can see stands?
                        </mat-panel-title>
                     </mat-expansion-panel-header>
                  In most cases, stands are only visible to other stand users. However, stand abilities can affect non-stand users.
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        
        
    </div>
    
</div>
